.top-row {
    background-color: #1f2937;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    padding: 50px;
}
.heading {
    font-size: 24px;
    color: #f9faf8;  
    flex: 1; 
}
.right {
    font-size: 18px;
    color: #e5e7eb; 
}
